/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*GENERAL*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    min-height: 616.6px;
    margin: 0 auto;
    padding: 60px;
}

.gray{
    background-color: #D3D3D3;
}

.left-side{
    width: 60%;
    background-color: #1E90FF;
    border: 1px dashed black;
}

.right-side{
    width: 40%;
    background-color: #FFC0CB;
    border: 1px dashed black;
}

#dark-gray{
    background-color: #23272A;
}

/*HEADER*/
header {
    background-color: #ADD8E6;
    padding: 15px 0 10px;

}

#header-top{
    display: flex;
    justify-content: space-between;
    background-color: #DAA520;
    margin-bottom: 20px;
}

#header-top > *{
    border: 2px dashed black;
    padding: 15px;
}

#header-top .logo, #header-top .login{
    width: 20%;
}

#header-top .nav{
    flex-grow: 1;
    text-align: center;
}

#header-top .login{
    text-align: right;
}

#header-bottom {
    background-color: #00008B;
    min-height: 500px;
    padding: 60px;
    
}

#hero {
    max-width: 900px;
    min-height: 400px;
    background-color: #EE82EE;
    border: 1px dashed black;
    margin: 0 auto;
}

/* MAIN */

/* SECTION 1 */
#box-one {
    display: flex;
    min-height: 520px;
}

/* SECTION 2 */
#box-two{
    display: flex;
    flex-direction: row-reverse;
    min-height: 520px;
}

/* SECTION 3 */
#box-three {
    display: flex;
    min-height: 520px;
}

/* SECTION 4 */
#large-box {
    min-height: 800px;
    background-color: #228B22;
    border: 1px dashed black;
}

#large-section{
    min-height: 900px;
    margin: 0 auto;
}

/* Section 5 */
#column-box{
    display: flex;
    min-height: 500px;
}

.large-column{
    width: 30%;
    background-color: #F08080;
    border: 1px dashed black;
}

.column{
    width: calc(70% / 4);
    background-color: #20B2AA;
    border: 1px dashed black;
}

/* FOOTER */
footer{
    background-color: #23272A;
    padding-top: 40px;
    padding-bottom: 0;
    margin: 0 auto;
    min-height: 60px;
    border-top: 1px solid white;
}

.footer.container {
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    padding: 15px 0;
}

.footer > *{
    border: 2px dashed black;
    padding: 6px;
    background-color: #FFB6C1;
}
